

.heroimg {
  background: url(https://i.ibb.co/fHNb0Fg/heropagemaybe.png);
}

.heroAbout {
  background: url(https://i.ibb.co/jW1cMGF/heroimageabout.png);
}

.heroContact {
  background: url(https://i.ibb.co/Dz1dSTx/herobackground3.png);
}

/* small media  */
@media only screen and (max-width: 600px) {
  .heroimg {
    background: url(https://i.ibb.co/qyJt5wK/cafeshop.png);
    background-position: center;
  }

  .heroAbout {
    background: url(https://i.ibb.co/kGfYWJW/coffeetable.jpg);
  }

  .heroContact {
    background: url(https://i.ibb.co/Bs18srC/coffeess.jpg);
    background-position: center;
  }
  .heroimg,
  .heroAbout,
  .heroContact {
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
  }
  .hero-row {
    margin-top: 0px;
    text-align: center;
  }
  .roost {
    margin: 0;
    opacity: 0;
  }
  audio {
    width: 0;
    opacity: 0;
  }

  .hero-img {
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 2;
    opacity: 100%;
    width: 100%;
  }

  nav {
    background-color: none;
    border-bottom: white solid 1px;
  }

  .contact-box {
    display: grid;
    grid-template-columns: repeat(, 1fr);
    border: 1px solid black;
    margin-bottom: 100px;
  }
}

/* mid up media  */

@media only screen and (min-width: 600px) {
  .hero-img {
    left: 0;
    top: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  nav {
    background-color: #6d7f6c;
    opacity: 90%;
  }
  .heroimg,
  .heroAbout,
  .heroContact {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
  }
  .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    margin-bottom: 100px;
  }
}

h1,
h5 {
  font-family: Marcellus, sans-serif;
  line-height: 2px;
}
h2,
h3 {
  line-height: 3rem;
  overflow: hidden;
}

p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.hero-row {
  margin-top: 100px;
}

.gallery {
  background: url(https://i.ibb.co/3SdvbKC/background.webp);
}

.theRoost {
  background: url(https://i.ibb.co/hL6KtVp/woodbackground.png);
}

.gallery,
.theRoost {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.reviewicons {
  position: relative;
  bottom: 40px;
  z-index: 8;
  margin-top: 30px;
}

.card-info {
  position: relative;
  bottom: 45px;
  overflow-y: hidden;
}

.card-text {
  overflow-y: hidden;
  padding: 0;
  font-size: 12px;
  border-radius: 10%;
  margin-bottom: 30px;
  padding: 10px;
  z-index: 10;
}

.card-body {
position: relative;
}


.dots {
  border: dotted #6d7f6c 25px;
  border-bottom: none;
  width: 17%;
  margin: 60px auto;
}

/* contact page  */
.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-left {
  height: 100%;
  background: url("https://i.ibb.co/HzcMbzp/fanartbycafhune.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-heading {
  font-family: Marcellus, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
  border-radius: 2px;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  outline: none;
}

.area {
  min-height: 150px;
}

.btn-1 {
  font-family: "Poppins" sans-serif;
  text-transform: uppercase;
  width: 100%;
  padding: 8px 16px;
  font-size: 1.1rem;
  background-color: #839a82;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
}

.btn-1:hover {
  background-color: #586857;
}

/* map */

.map {
  margin: 100px 50px;
  border: 1px solid black;ƒ
}

h1,
p,
h5 {
  overflow-y: hidden;
}

.conHead {
  position: absolute;
}


.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

footer {
  overflow: hidden;
}