* {
  overflow-x: hidden;
}

.heroimg {
  background: url(https://i.ibb.co/fHNb0Fg/heropagemaybe.png);
}

.heroAbout {
  background: url(https://i.ibb.co/jW1cMGF/heroimageabout.png);
}

/* small media  */
@media only screen and (max-width: 600px) {
  .heroimg {
    background: url(https://i.ibb.co/qyJt5wK/cafeshop.png);
    background-position: center;
  }

  .heroAbout {
    background: url(https://i.ibb.co/kGfYWJW/coffeetable.jpg);
  }

  .heroimg,
  .heroAbout {
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
  }
  .hero-row {
    margin-top: 0px;
    text-align: center;
  }
  .roost {
    margin: 0;
    opacity: 0;
  }
  audio {
    width: 0;
    opacity: 0;
  }

  .hero-img {
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 2;
    opacity: 100%;
    width: 100%;
  }

  nav {
    background-color: none;
    border-bottom: white solid 1px;
  }
}

/* mid up media  */

@media only screen and (min-width: 600px) {
  .hero-img {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  nav {
    background-color: #6d7f6c;
    opacity: 90%;
  }
  .heroimg,
  .heroAbout {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
  }
}

h1,
h5 {
  font-family: Marcellus, sans-serif;
  line-height: 2px;
}
h2,
h3 {
  line-height: 3rem;
}

p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.hero-row {
  margin-top: 100px;
}

.gallery {
  background: url(https://i.ibb.co/3SdvbKC/background.webp);
}

.theRoost {
  background: url(https://i.ibb.co/hL6KtVp/woodbackground.png);
}

.gallery,
.theRoost {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.reviewicons {
  position: relative;
  bottom: 50px;
}

.card-info {
  position: relative;
  bottom: 55px;
}

.card-body {
  border-radius: 55%;
}

.dots {
  border: dotted #6d7f6c 25px;
  border-bottom: none;
  width: 17%;
  margin: 60px auto;
}
